<div class="game-box">
	<img src="[PREVIEW_IMG_URL]" class="game-image"></img>
	<div class=game-title-box>
		<div class="game-title-bg"></div>
		<a class="game-title">[TITLE]</a>
	</div>
	<div class=game-info-box>
		<div class="game-info-bg"></div>
		<a>Author: <i>[AUTHOR]</i></a>
		<a>Genre: <i>[GENRE]</i></a>
		<a>OS: <i>[PLATFORM]</i></a>
	</div>
	<a href="[DOWNLOAD_URL]" class="game-button-download">Download</a>
	<a href="details.php?id=[ID]" class="game-button-details">Details</a>
</div>
