html body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

.header {
	width: 100%;
	height: 40px;
	background-color: #004684;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-title {
	color: #fff;
	font-weight: bold;
	line-height: 40px;
	margin-left: 15px;
	text-decoration: none;
}

.header-link {
	text-decoration: none;
	margin: 0 15px 0 15px;
	color: #fff;
	line-height: 40px;
	float: right;
}

.header-link:hover, .header-title:hover, .sub-header-sort:hover {
	color: #9CE5FF;
}

.sub-header {
	width: 100%;
	height: 20px;
	background-color: #008FC3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sort-text {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	margin-left: 15px;
}

.sub-header-sort {
	font-size: 14px;
	text-decoration: none;
	margin: 0 5px 0 5px;
	color: #fff;
	line-height: 20px;
}

.search-form {
	float: right;
	height: 20px;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}

.sub-header-input[type="search"] {
	height: 100%;
	margin: 0 0 0 0;
}
.game-box {
	position: relative;
	margin: 20px 20px 20px 20px;
	width: 320px;
	height: 240px;
	background-color: #555;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-image {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.game-title-box {
	position: absolute;
	width: 100%;
	height: 25px;
	z-index: 2;
}

.game-title-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .8;
	background-color: #000;
}

.game-title {
	line-height: 25px;
	color: #fff;
	position: absolute;
	width: 100%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.game-info-box {
	position: absolute;
	top: 25px;
	width: 100%;
	z-index: 2;
	opacity: 0;

	-webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.game-box:hover .game-info-box {
	opacity: 1;
}

.game-info-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;
	background-color: #000;
}

.game-info-box a {
	position: relative;
	margin-left: 5px;
	color: #fff;
	width: 100%;
	display: inline-block;
}

.game-info-box a i {
	color: #EDEDED;
}

.game-button-download, .game-button-details {
	z-index: 2;
	text-decoration: none;
	width: 50%;
	position: absolute;
	text-align: center;
	color: #fff;
	padding: 5px 0 5px 0;
	line-height: 20px;
	bottom: 0;
}

.game-button-details {
	left: 0;
	background-color: #008FC3;
}

.game-button-details:hover {
	left: 0;
	background-color: #00A1DB;
}

.game-button-download {
	right: 0;
	background-color: #004684;
}

.game-button-download:hover {
	right: 0;
	background-color: #00549E;
}

/** SUBMIT PAGE **/
.wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 20px;
}

.submit-form {
	display: inline-block;
	width: 100%;
	max-width: 500px;
	text-align: left;
}

.submit-form a {
	margin: 20px 0 0 0;
}

.submit-form input, .submit-form textarea {
	margin: 0 0 15px 0;
	width: 100%;
}

.submit-form .desc-input {
	height: 180px; 
}

/*** DETAILS ***/
.details-wrapper {
	text-align: center;
	width: 100%;
}

.details-container {
	text-align: left;
	display: inline-block;
	width: 100%;
	max-width: 500px;
	vertical-align: top;
}

.header-img {
	width: 100%;
	background-color: #444;
	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 40vh;
}

.details-sidebar {
	vertical-align: top;
	max-width: 500px;
	text-align: left;
	margin-left: auto;
	display: inline-block;
	margin: 20px 20px 0 0;
	border: 2px;
}

.details-download-button, .details-website-button, .details-delete-button, .details-edit-button {
	margin-top: 20px;
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
}

.details-download-button {
	background-color: #004684;
}

.details-download-button:hover {
	background-color: #00549E;
}

.details-website-button {
	background-color: #008FC3;
}

.details-website-button:hover {
	background-color: #00A1DB;
}

.details-delete-button {
	cursor: pointer;
	background-color: #C30000;
}

.details-delete-button:hover {
	background-color: #DE0000;
}

.details-edit-button {
	cursor: pointer;
	background-color: #C95B00;
}

.details-edit-button:hover {
	background-color: #F26D00;
}
